@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*html {
  background: #f7f7f7;
}*/
/*.container {
  background: #f7f7f7;
}*/
body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  color: #7a7e89;
  background: #f7f7f7;
}
/*body.fh5co-overflow {
  overflow-x: auto;
}

::-webkit-selection {
  color: #fff;
  background: #f9ad81;
}

::-moz-selection {
  color: #fff;
  background: #f9ad81;
}

::selection {
  color: #fff;
  background: #f9ad81;
}*/

/*a {
  color: #f9ad81;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:focus, a:active {
  color: #f67d38;
  outline: none;
  text-decoration: none;
}*/

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab", sans-serif;
  color: #000;
}

p {
  margin-bottom: 30px;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 2px solid 	rgba(136,136,136,1);
  height: 54px;
  font-size: 18px;
  font-weight: 300;
  color: white;
}
.form-control:active, .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #b6b6b6;
}


#fh5co-home {
  min-height: 700px;
  background: #fff url(../images/loader.gif) no-repeat center center;
}
#fh5co-home .flexslider {
  border: none;
  position: relative;
  z-index: 1;
  margin-bottom: 0;
}
#fh5co-home .flexslider .fh5co-text {
  position: absolute;
  z-index: 3;
  width: 100%;
  top: 50%;
  margin-top: -129px;
  text-align: center;
}
#fh5co-home .flexslider .fh5co-text h1 {
  margin: 0 0 30px 0;
  padding: 0;
  font-family: "Roboto Slab", sans-serif;
  font-size: 50px;
  font-weight: 400;
  color: #fff;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  border: 7px solid #fff;
  padding: 30px 50px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 992px) {
  #fh5co-home .flexslider .fh5co-text h1 {
    font-size: 30px;
  }
}
#fh5co-home .flexslider .fh5co-text .fh5co-go {
  margin-top: 30px;
}
#fh5co-home .flexslider .fh5co-text .fh5co-go a {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  display: block;
  position: relative;
  padding-bottom: 50px;
}
#fh5co-home .flexslider .fh5co-text .fh5co-go a span {
  font-size: 20px;
  display: block;
  position: absolute;
  bototm: 0;
  left: 50%;
  margin-left: -10px;
  -webkit-animation: ani-mouse 2.5s linear infinite;
  -moz-animation: ani-mouse 2.5s linear infinite;
  animation: ani-mouse 2.5s linear infinite;
}
/*#fh5co-home .flexslider .fh5co-text .fh5co-go a:hover {
  text-decoration: none;
}
#fh5co-home .flexslider .fh5co-text .fh5co-go a:hover span {
  text-decoration: none;
}
#fh5co-home .flexslider .slides li {
  background-repeat: no-repeat;
  background-size: cover;
}*/
/*#fh5co-home .flexslider .fh5co-overlay {
  position: absolute;
  z-index: 3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: .3;
  background: #444853;
}
/*#fh5co-home .flexslider .flex-control-nav,
#fh5co-home .flexslider .flex-direction-nav {
  display: none;
}

#fh5co-main,
#fh5co-offcanvas {
  -webkit-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
}*/

/*#fh5co-offcanvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  width: 275px;
  background: #444853;
  overflow-y: auto;
  padding: 50px 30px 30px 30px;
  -moz-transform: translateX(275px);
  -webkit-transform: translateX(275px);
  -ms-transform: translateX(275px);
  -o-transform: translateX(275px);
  transform: translateX(275px);
}*/
/*#fh5co-offcanvas .fh5co-offcanvas-close {
  position: absolute;
  top: 20px;
  right: 30px;
}
#fh5co-offcanvas .fh5co-offcanvas-close:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e117";
  font-size: 30px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}*/
/*#fh5co-offcanvas .fh5co-offcanvas-close:hover:before {
  color: white;
}
#fh5co-offcanvas nav ul {
  padding: 0;
  margin: 0;
}
#fh5co-offcanvas nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}
#fh5co-offcanvas nav ul li a {
  display: block;
  color: rgba(255, 255, 255, 0.5);
  padding: 7px 0;
}
#fh5co-offcanvas nav ul li a:hover {
  color: #f9ad81;
}
#fh5co-offcanvas nav ul li.active a {
  color: #f9ad81;
}*/
/*.offcanvas-visible #fh5co-offcanvas {
  -moz-transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
}*/


#fh5co-about {
  padding: 7em 0;
}
@media screen and (max-width: 768px) {
  #fh5co-about
{
    padding: 4em 0;
  }
}

#fh5co-about {
  background: #444853;
}
#fh5co-about h2 {
  color: #fff;
}
/*#fh5co-about .fh5co-text {
  padding-left: 4em;
}*/
/*@media screen and (max-width: 992px) {
  #fh5co-about .fh5co-text {
    padding: 0 0 0px 0;
  }
}*/
/*#fh5co-about .fh5co-text .fh5co-meta {
  color: rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
}*/
/*#fh5co-about .fh5co-text.with-plus {
  padding-right: 4em;
  padding-left: 0;
  position: relative;
}
@media screen and (max-width: 992px) {
  #fh5co-about .fh5co-text.with-plus {
    padding-right: 0;
  }
}
#fh5co-about .fh5co-text.with-plus:after {
  position: absolute;
  right: 0;
  margin-right: -30px;
  top: 50%;
  margin-top: -25px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  /*-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\e114";
  font-size: 50px;
  color: #f9ad81;
}*/
@media screen and (max-width: 992px) {
  #fh5co-about .fh5co-text.with-plus:after {
    display: none;
    visibility: hidden;
  }
}

/*#fh5co-testimony {
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
}
#fh5co-testimony > .container {
  position: relative;
  z-index: 5;
}
#fh5co-testimony > .fh5co-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  opacity: .7;
  background: #444853;
}
#fh5co-testimony .flexslider {
  border: transparent !important;
  background: transparent !important;
}
#fh5co-testimony .flexslider .slides li {
  font-size: 40px;
  line-height: 1.5;
}
#fh5co-testimony .flexslider .slides li blockquote {
  padding-left: 0;
  border-left: none;
}
@media screen and (max-width: 768px) {
  #fh5co-testimony .flexslider .slides li blockquote {
    padding: 0 20px;
  }
}
#fh5co-testimony .flexslider .slides li blockquote p {
  font-size: 40px;
  line-height: 1.5;
  font-family: "Roboto Slab", sans-serif;
  color: white !important;
}
@media screen and (max-width: 768px) {
  #fh5co-testimony .flexslider .slides li blockquote p {
    font-size: 20px;
    line-height: 1.5;
  }
}
#fh5co-testimony .flexslider .slides li blockquote p cite {
  display: block;
  padding-top: 20px;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: rgba(255, 255, 255, 0.7);
}
#fh5co-testimony .flexslider .flex-control-paging {
  position: relative;
}
#fh5co-testimony .flexslider .flex-control-paging.flex-control-nav {
  bottom: -70px;
}
@media screen and (max-width: 768px) {
  #fh5co-testimony .flexslider .flex-control-paging.flex-control-nav {
    bottom: -60px;
  }
}
#fh5co-testimony .flexslider .flex-control-paging li a {
  width: 14px;
  height: 14px;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  border: 2px solid transparent;
}
#fh5co-testimony .flexslider .flex-control-paging li a:active, #fh5co-testimony .flexslider .flex-control-paging li a:focus {
  outline: none;
}
#fh5co-testimony .flexslider .flex-control-paging li a.flex-active {
  position: relative;
  background: transparent;
  box-shadow: none;
  border: 2px solid #f9ad81;
}*/

/*#fh5co-footer {
  background: #ececec;
  padding: 4em 0;
  font-size: 16px;
}
@media screen and (max-width: 768px) {
  #fh5co-footer {
    padding: 3em 0;
  }
}
#fh5co-footer a {
  color: #f67d38;
}
#fh5co-footer a:hover {
  text-decoration: underline;
}
#fh5co-footer p {
  margin-bottom: 10px;
}
#fh5co-footer .fh5co-footer-widget {
  margin-bottom: 30px;
  float: left;
  width: 100%;
}

.fh5co-social {
  padding: 0;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .fh5co-social {
    float: none !important;
  }
}
.fh5co-social li {
  padding: 0;
  margin: 0;
  display: inline;
}
.fh5co-social li a {
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .fh5co-social li a {
    margin-right: 10px;
  }
}
.fh5co-social li a i {
  font-size: 20px;
}
.fh5co-social li a:hover {
  text-decoration: none !important;
}
.fh5co-social li a:hover i {
  text-decoration: none;
}
.fontcolor {
  color : #fff;
}
.img-grid {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  float: left;
  margin-bottom: 30px;
}
@media screen and (max-width: 480px) {
  .img-grid {
    margin-bottom: 15px;
  }
}
.img-grid img {
  position: relative;
  z-index: 10;
}
.img-grid a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 12;
  background: rgba(68, 72, 83, 0.9);
  text-align: center;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.img-grid a > div {
  position: absolute;
  bottom: -20px;
  left: 0;
  text-align: center;
  width: 100%;
  -webkit-transition: 0.8s, ease-out;
  -o-transition: 0.8s, ease-out;
  transition: 0.8s, ease-out;
}
.img-grid a .fh5co-title {
  font-size: 18px;
  color: #fff;
  padding: 0;
  position: relative;
}
.img-grid a .fh5co-meta {
  color: rgba(255, 255, 255, 0.4);
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 2px;
  display: block;
  position: relative;
  padding-bottom: 7px;
  text-transform: uppercase;
}
.img-grid a .fh5co-meta:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 20px;
  margin-left: -10px;
  height: 2px;
  left: 50%;
  background: #f9ad81;
}
.img-grid:hover > a {
  opacity: 1;
}
.img-grid:hover > a > div {
  bottom: 20px;
}

.section-heading .fh5co-section-title {
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #41454f;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  opacity: .4;
  margin-bottom: 20px;
}*/

.fh5co-lead {
  font-size: 35px;
}
@media screen and (max-width: 768px) {
  .fh5co-lead {
    font-size: 20px;
  }
}

.js .to-animate, .js
.to-animate-2, .js
.animate-box {
  opacity: 0;
  color: #fff;
}

/*.fh5co-nav-toggle {
  width: 25px;
  height: 60px;
  cursor: pointer;
  text-decoration: none;
}
.fh5co-nav-toggle.active i::before, .fh5co-nav-toggle.active i::after {
  background: #f9ad81;
}
.fh5co-nav-toggle:hover, .fh5co-nav-toggle:focus, .fh5co-nav-toggle:active {
  outline: none;
  border-bottom: none !important;
}
.fh5co-nav-toggle i {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  width: 25px;
  height: 3px;
  color: #535659;
  font: bold 14px/.4 Helvetica;
  text-transform: uppercase;
  text-indent: -55px;
  background: #535659;
  transition: all .2s ease-out;
}
.fh5co-nav-toggle i::before, .fh5co-nav-toggle i::after {
  content: '';
  width: 25px;
  height: 3px;
  background: #535659;
  position: absolute;
  left: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.fh5co-nav-toggle i::before {
  top: -7px;
}

.fh5co-nav-toggle i::after {
  bottom: -7px;
}

.fh5co-nav-toggle:hover i::before {
  top: -10px;
}

.fh5co-nav-toggle:hover i::after {
  bottom: -10px;
}

.fh5co-nav-toggle.active i {
  background: transparent;
}*/

/*.fh5co-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}

.fh5co-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
}*/
/*#contact {width:100%; height:100%; margin 0 auto; background: #DDD; }*/

.container {width:960px; height:auto; margin: 0 auto; padding: 50px 0;}

/*#contact .container form input,
#contact .container form textarea {
	width:97.4%;
	height:30px;
	padding:5px 10px;
	font-size: 12px;
	color:#000;
	letter-spacing:1px;
	background: #FFF;
	border:2px solid #FFF;
	margin-bottom:25px;
  -webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out;}

#contact .container form input:focus,
#contact .container form textarea:focus {
	border:2px solid #dd4545;
	color:#999;}

#contact .container form textarea {
	height:150px;}

#contact .container form .submit {
	width:100%;
	padding:5px 10px;
	font-size: 12px;
	letter-spacing:1px;
	background:#dd4545;
	height:40px;
	text-transform:uppercase;
	letter-spacing:1px;
	color:#FFF;
	border:2px solid #b43838;
  -webkit-transition:all .1s ease-in-out;
	-moz-transition:all .1s ease-in-out;
	-ms-transition:all .1s ease-in-out;
	-o-transition:all .1s ease-in-out;
	transition:all .1s ease-in-out;}

#contact .container form .submit:hover {
	color:#FFF;
	border:2px solid #dd4545;
	background: #b43838;
	cursor:pointer;}

#contact .container form .required {
	color:#b43838;}

.fh5co-nav-toggle {
  position: absolute;
  top: 8px;
  right: 15px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 25px;
  border-bottom: none !important;
}
@media screen and (max-width: 768px) {
  .fh5co-nav-toggle {
    display: block;
  }
  .offcanvas-visible .fh5co-nav-toggle {
    z-index: 999999 !important;
  }
}*/

.fh5co-animated {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.r-pb {
  padding-bottom: 40px;
}

/*@media screen and (max-width: 480px) {
  .col-xxs-12 {
    width: 100%;
    float: none;
  }
}
/* Arrow Animations */
/*@-webkit-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}*/
/*@-moz-keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}*/
/*@keyframes ani-mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  15% {
    opacity: 1;
    top: 50%;
  }
  50% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }*/



  /*button*/
.typ-subhed {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 3;
  width: 200px;
  height : 50px;
  margin-left: 40%;
  margin-bottom: 10%;
  margin-right: auto;
}
.ctrl-standard.fx-sliderIn {
  color: #81aaa4;
  border-color: #81aaa4;
}
.ctrl-standard.fx-sliderIn::after {
  background: #81aaa4;
}
.ctrl-standard.fx-sliderIn.is-reversed::after {
  width: 500%;
}
.ctrl-standard.fx-sliderIn.is-reversed:hover {
  color: #81aaa4;
}
.ctrl-standard.fx-sliderIn.is-reversed:hover::after {
  width: 0;
}
[class*="ctrl-"][class*="fx-"]:hover,
[class*="ctrl-"][class*="fx-"].active {
  color: #231f20;
}
[class*="ctrl-"][class*="fx-"].is-reversed {
  color: #231f20;
}

  [class*="fx-"],
[class*="fx-"]:hover {
    -webkit-transition: color 0.5s  ease-in-out;
    transition: color 0.5s  ease-in-out;
  }
  [class*="fx-"]:not(.fx-dyna) {
    position: relative;
    z-index: 1;
    -webkit-transition-delay: 0.2s !important;
            transition-delay: 0.2s !important;
    overflow: hidden;
  }
  [class*="fx-"]:not(.fx-dyna)::after,
[class*="fx-"]:not(.fx-dyna)::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
  }
  [class*="fx-bubble"]::after {
    -webkit-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
  }
  [class*="fx-bubble"]:hover::after,
[class*="fx-bubble"].active::after {
    -webkit-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
    height: 300%;
  }
  [class*="fx-bubble"]:disabled:hover::after {
    height: 0;
  }
  .fx-sliderIn::after {
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 0;
  }
  .fx-sliderIn:hover::after,
.fx-sliderIn.active::after {
    -webkit-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
    width: 100%;
  }
  :checked + .fx-sliderIn::after,
.fx-sliderIn.active::after {
    width: 500%;
  }
  .tableHead{
    width: 700px;
     height:80px;
     background-color:#262933;
      font-weight: 700;
      font-size: 14px;
      color:#fff;
      text-align: center;
  }
  .tableIequalZERO{
    width: 700px;
     height:80px;
     background-color:#a78890;
      font-weight: 700;
      font-size: 14px;
      color:#fff;
      text-align: center;
  }
  .tableIequalZERO :after{
    width: 700px;
     height:80px;
     background-color:#cab7bc;
      font-weight: 700;
      font-size: 14px;
      color:#fff;
      text-align: center;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
  }
  .tableINotequalZERO{
    width: 700px;
     height:80px;
     background-color:#7a7c84;
      font-weight: 700;
      font-size: 14px;
      color:#fff;
      text-align: center;
  }

}

/*# sourceMappingURL=style.css.map */
